.container{
    width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.input a{
  text-decoration: none;
}
.input{
    
    display: block;
    background-color: rgb(209, 216, 209);
    text-align: center;
    width: 200px;
    margin: auto;
    padding: 10px;
    margin-top: 80px;

   
  
} 

.input:hover {
 
  animation:         INDENT 2s 1; /* IE 10+ */
  color:brown;
}

@-webkit-keyframes INDENT{  
  0%   { text-indent: 0; }
  50% { text-indent: 5px; }
  100% { text-indent: 0; }
}
@-moz-keyframes INDENT {
  0%   { text-indent: 0; }
  50% { text-indent: 5px; }
  100% { text-indent: 0; }
}
@-o-keyframes INDENT {
  0%   { text-indent: 0; }
  50% { text-indent: 5px; }
  100% { text-indent: 0; }
}
@keyframes INDENT {
  0%   { text-indent: 0; }
  50% { text-indent: 5px; }
  100% { text-indent: 0; }
}
   
.input2{
  background-color: rgb(218, 226, 218);
    width: 100%;
    height: 350px;
}

.header{
    padding: 50px;
    text-align: center;
    font-family:  'Times New Roman', Times, serif;
}

.first{
 padding: 10px;
}


ul { 
  margin: 0px auto 0; 
  padding: 0; 
  list-style: none; 
  /* display: table; */
  width: 100%;
  text-align: center;
  height: 300px;
  line-height: 20px;
  background-color: rgb(209, 216, 209);
  display: flex;
  justify-content: space-between;
 flex-wrap: wrap;
 
  
}
.input2 ul li .first{
  font-size: 70px;
  color: brown;
  /* width: 50px;
  height: 50px; */
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 10px;
  width: 100px;
  height: 60px;
  margin: 10px;
}
a {
  color:black;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: rgb(209, 216, 209);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
  position: relative;
  margin: 10px;
 

}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(230, 32, 32);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
  @media screen and (max-height: 1024px) {
    li { 
     
      padding: 20px;
      width: 220px;
      height: 120px;
      margin: 20px;
    }
    .input2{
      background-color: rgb(209, 216, 209);
        width: 100%;
        height: 350px;
    }

}   
 @media screen and (min-height: 700px) {
  .input2{
    background-color: rgb(135, 167, 236);
      width: 100%;
      height: 350px;
  }
} 
  


